.main {
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    
}

.main div {
  margin: 0px 10px 0px 10px;
}

.background {
    background-color: whitesmoke;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

    /* Change the link color on hover */
    li a:hover {
        background-color: #555;
        color: white;
    }

.home_header {
    text-align: center;

}

@media only screen and (max-width: 320px) {
    .background {
      background-color: red;

    }

}   

@media only screen and (max-width: 1024px) {
    ul {
      background-color: lightblue;
      color: rgb(3, 32, 70);
    }
  }

  @media only screen and (max-width: 768px) {
        ul {
          background-color: rgb(0, 255, 21);
          font-family: 'Syne Mono', monospace;
        }
        p {
            font-family: 'Syne Mono', monospace;
            font-size: 30px;
        }
      }
@media only screen and (min-width: 1200px) {
    .background {
      background-color: yellow;

    }

}   
